[submodule "thirdparty/bs"]
	path = thirdparty/bs
	url = git@github.com:lnd3/bs.git
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = git@github.com:curl/curl.git
[submodule "thirdparty/mongoose/mongoose"]
	path = thirdparty/mongoose/mongoose
	url = git@github.com:cesanta/mongoose.git
[submodule "thirdparty/jsonxx/jsonxx"]
	path = thirdparty/jsonxx/jsonxx
	url = git@github.com:hjiang/jsonxx.git
[submodule "thirdparty_mods/glfw"]
	path = thirdparty_mods/glfw
	url = git@github.com:lnd3/glfw
[submodule "thirdparty_mods/imgui/imgui"]
	path = thirdparty_mods/imgui/imgui
	url = git@github.com:lnd3/imgui
[submodule "thirdparty_mods/implot/implot"]
	path = thirdparty_mods/implot/implot
	url = git@github.com:lnd3/implot.git
[submodule "thirdparty_mods/pugixml/pugixml"]
	path = thirdparty_mods/pugixml/pugixml
	url = git@github.com:lnd3/pugixml.git
[submodule "thirdparty_mods/openfbx/openfbx"]
	path = thirdparty_mods/openfbx/openfbx
	url = git@github.com:lnd3/OpenFBX.git
[submodule "thirdparty_mods/ufbx/ufbx"]
	path = thirdparty_mods/ufbx/ufbx
	url = git@github.com:lnd3/ufbx.git
[submodule "thirdparty_mods/bc7enc/bc7enc"]
	path = thirdparty_mods/bc7enc/bc7enc
	url = git@github.com:lnd3/bc7enc.git
[submodule "thirdparty/portaudio/portaudio"]
	path = thirdparty/portaudio/portaudio
	url = git@github.com:PortAudio/portaudio.git
[submodule "thirdparty/ed25519/ed25519"]
	path = thirdparty/ed25519/ed25519
	url = git@github.com:orlp/ed25519.git
[submodule "thirdparty_mods/cryptopp/cryptopp"]
	path = thirdparty_mods/cryptopp/cryptopp
	url = git@github.com:weidai11/cryptopp.git
[submodule "thirdparty/tiny-dnn/tiny-dnn"]
	path = thirdparty/tiny-dnn/tiny-dnn
	url = git@github.com:lnd3/tiny-dnn.git
[submodule "thirdparty/darknet/darknet"]
	path = thirdparty/darknet/darknet
	url = git@github.com:pjreddie/darknet.git
[submodule "thirdparty/fann/fann"]
	path = thirdparty/fann/fann
	url = git@github.com:lnd3/fann.git
[submodule "thirdparty/tengine/tengine"]
	path = thirdparty/tengine/tengine
	url = git@github.com:OAID/Tengine.git
[submodule "thirdparty/ncnn/ncnn"]
	path = thirdparty/ncnn/ncnn
	url = git@github.com:Tencent/ncnn.git
[submodule "thirdparty/keccak/keccak"]
	path = thirdparty/keccak/keccak
	url = git@github.com:coruus/keccak-tiny.git
